
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oxanium";
}

html {
    overflow-x: hidden;
}

body {
    background-color: #e4e9f7;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.container {
	width: 350px;
	height: 560px;
	background-color: rgb(116, 203, 72);
	border-radius: 10px;
	padding: 5px;
	transition: background-color 0.5s ease-in-out;
}

.card-header {	
	height: 40%;
	padding: 8px;
	background-image: url(./img/pokeball.png);
	background-repeat: no-repeat;
	background-position: right;
}

.header-pesquisa {
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 8px;
}

#pesquisa {
	color: #fff;
	background: none;
	border: none;
	padding: 10px;
	font-size: 14px;
	font-weight: 800;
	width: 110%;
	text-transform: capitalize;
}

#pesquisa:focus {
	outline: none;
}

input::placeholder {
	color: #fff;
}

.img-poke {
	display: flex;
	justify-content: center;
}

#poke-imagem {
	position: absolute;
	bottom: 45%;
	width: 270px;
	height: 270px;
}

.dados {
	background-color: #fff;
	height: 60%;
	border-radius: 10px;
	padding-top: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nome-pokemon {
	font-size: 20px;
	position: relative;
	bottom: 20px;
	font-weight: 600;
	text-transform: capitalize;
}

.tipos {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.tipo {
	color: #fff;
	padding: 10px 20px;
	border-radius: 40px;
	font-size: 20px;
	font-weight: 800;
	text-transform: capitalize;
}

.btns {
    position: absolute;
    bottom: 19%;
    left: 41.5%;
    width: 65%;
    display: flex;
    gap: 20px;
}

.botao {
	width: 12%;
    padding: 0.5%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #fff;
    background-color: #444;
    box-shadow: -1px 2px 0 #222, -2px 5px 0 #000;
}

.botao:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

@media (max-width: 1440px){
	.botao {
		width: 12%;
	}
	.btns {
		bottom: 28%;
		left: 41.5%;
	}
}

@media (max-width: 1024px){
	.botao {
		width: 16%;
	}
	.btns {
		bottom: 26%;
		left: 38.5%;
	}
}

@media (max-width: 768px){
	.botao {
		width: 25%;
	}
	.btns {
		bottom: 20%;
		left: 35.5%;
	}
}

@media (max-width: 425px){
	.botao {
		width: 32%;
	}
	.btns {
		bottom: 16%;
		left: 27.5%;
	}
}

@media (max-width: 375px){
	.botao {
		width: 36%;
	}
	.btns {
		left: 23.5%;
	}
}

@media (max-width: 320px){
	.botao {
		width: 44%;
	}
	.btns {
		left: 21.5%;
	}
}